@use "../abstracts/" as *;

.form_container {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(scaled(15, 25, 320, 1400), 1fr)
    );
    position: relative;

    .heading_container {
        margin-bottom: scaled(1, 1.3, 320, 1400);
    }

    .input_container {
        margin-bottom: scaled(1, 1.2, 320, 1400);
    }

    .selection_container {
        display: flex;
        flex-direction: column;

        .menu_container {
            font-family: "Roboto", sans-serif;
            width: 10rem;
            background-color: $mainLightColor;
            border: 1px solid black;
            border-radius: $formElementRadius;
            overflow: hidden;
            height: 2rem;
            padding-left: 0.2rem;
        }
    }

    .price {
        font-size: scaled(1, 1.5, 320, 1400);
        margin: 0;
    }

    .inventory {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: rgb(169, 169, 169);
    }

    .sold_out_text {
        font-family: "Oswald", sans-serif;
        color: rgb(176, 176, 176);
        font-size: scaled(1, 1.2, 320, 1400);
    }
}

.form_btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 10rem;
    height: 2.5rem;
    margin-top: 0.7rem;
    background-color: $importantButtonColor;
    border: 1px solid rgba(0, 0, 0, 0.8);
    outline: 0;
    border-radius: $formElementRadius;
    color: $mainLightColor;
}

.form_btn:hover,
.form_btn:focus {
    background-color: $importantButtonColorHover;
    cursor: pointer;
}
