@use "../abstracts/" as *;

.component_container {
    max-width: $maxWidth;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(scaled(15, 30, 320, 1400), 1fr)
    );
    margin: 0 auto;
}

.physical_product_container,
.product_info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: scaled(1, 1.5, 320, 1400) scaled(1, 3, 320, 1400);
    width: 100%;
}

.product_info p {
    color: $mainDarkColor;
    margin-bottom: 1rem;
}

.product_info p:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 636px) {
    .physical_product_container {
        border-bottom: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
    .product_info {
        border-bottom: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
}
