@use "../abstracts/" as *;

form[id="admin_form"] {
  padding: scaled(1, 1.5, 320, 1400) scaled(0.5, 1, 320, 1400);
  .outer_field_container {
    padding: scaled(1, 1.5, 320, 1400) 0;
    margin: scaled(0.5, 1, 320, 1400) 0;
    background-color: $formDarkTint;
    border-radius: $formElementRadius;
    h3 {
      margin-left: 0.2rem;
      margin-bottom: 0;
      padding: 0;
      font-size: scaled(1, 1.2, 320, 1400);
      color: $mainLightColor;
      font-style: italic;
    }

    .inner_field_container {
      padding: 1rem 1rem;
    }

    .info_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 0.2rem;

      //   .separator {
      //     display: flex;
      //     justify-content: center;
      //   }
    }

    .img_info_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0.2rem;

      img {
        max-width: 10rem;
        aspect-ratio: 1/1;
      }

      //   .separator {
      //     display: flex;
      //     justify-content: center;
      //   }
    }

    .input_wrapper {
      label {
        color: $formDarkTint;
      }
    }

    input {
      width: 100%;
    }

    input::placeholder {
      font-size: 0.75rem;
    }
  }
}

@media screen and (min-width: $adminFormScreenSize) {
  form[id="admin_form"] {
    max-height: 500px;
    overflow: scroll;
  }
}
