@use "./variables" as *;
@use "./functions" as *;

@mixin scaledFont(
    $minFontSize: 16px,
    $maxFontSize: 32px,
    $minViewWidth: 320px,
    $maxViewWidth: 1400px
) {
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin sweetBorder {
    content: "";
    position: absolute;
    display: block;
    top: 1rem;
    bottom: 0;
    left: -0.125rem;
    right: -0.125rem;
    border-left: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
    border-right: 1px solid #2d2d2d;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    opacity: 0;
    transition: 0.5s;
}

@mixin sweetBorderOnHover {
    cursor: pointer;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: -0.125rem;
    right: -0.125rem;
    border-left: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    border-color: #2b2b2b;
    opacity: 1;
    transition: 0.5s;
}

@mixin loadingRoller($width, $color) {
    @content;

    .lds_roller {
        display: inline-block;
        position: relative;
        width: $width * 1px;
        height: $width * 1px;
    }
    .lds_roller div {
        animation: lds_roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: divide($width, 2) divide($width, 2);
    }
    .lds_roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: mult($width, 0.0875);
        height: mult($width, 0.0875);
        border-radius: 50%;
        background: $color;
        margin: -mult($width, 0.05) 0 0 -mult($width, 0.05);
    }
    .lds_roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds_roller div:nth-child(1):after {
        top: mult($width, 0.7875); // .7875
        left: mult($width, 0.7875); // .7875
    }
    .lds_roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds_roller div:nth-child(2):after {
        top: mult($width, 0.85); // .85
        left: mult($width, 0.7); // .7
    }
    .lds_roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds_roller div:nth-child(3):after {
        top: mult($width, 0.8875); // .8875
        left: mult($width, 0.6); // .6
    }
    .lds_roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds_roller div:nth-child(4):after {
        top: mult($width, 0.9); // .9
        left: mult($width, 0.5); // .5
    }
    .lds_roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds_roller div:nth-child(5):after {
        top: mult($width, 0.8875); // .8875
        left: mult($width, 0.4); // .4
    }
    .lds_roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds_roller div:nth-child(6):after {
        top: mult($width, 0.85); // .85
        left: mult($width, 0.3); // .3
    }
    .lds_roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds_roller div:nth-child(7):after {
        top: mult($width, 0.7875); //.7875
        left: mult($width, 0.2125); // .2125
    }
    .lds_roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds_roller div:nth-child(8):after {
        top: mult($width, 0.7); // .7
        left: mult($width, 0.15); // .15
    }
    @keyframes lds_roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
