$baseFontSize: 16px;
$borderRadius: 0.5rem;
$mainDarkColor: #2d2d2d;
$mainLightColor: rgb(243, 243, 243);
$boxShadow: 0px 1px 25px rgba(0, 0, 0, 0.1);
$cart_plus_color: rgb(163, 226, 163);
$cart_minus_color: rgb(216, 148, 148);
$checkout_button_color: linear-gradient(
    to right,
    rgb(27, 170, 253) 0%,
    rgba(55, 51, 255, 1) 100%
);
