.heroText {
    max-width: 60%;
    position: relative;
    padding: 0 2rem;
    /* display: flex;
    flex-direction: column;
    max-width: 50%; */
}

.heroText > h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.heroText > p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.test > p {
    font-size: 10rem;
}
