@use "../abstracts/" as *;

.section_container {
    max-width: 1100px;
    margin: 0 auto 2rem auto;
}

.article_container {
    max-width: 1100px;
    margin: 0 auto;

    .article_content {
        margin-top: 2rem;
    }
}
