@use "./abstracts/" as *;

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 200ms ease-in-out;
    padding: scaled(1, 1.5, 320, 1400);
    min-height: 30rem;
    z-index: 0;

    .image_container {
        display: inline-block;
        margin-bottom: 2rem;

        // .image {
        //     border-radius: $formElementRadius;
        // }
    }

    .title_container {
        flex-grow: 1;
        position: relative;

        .title {
            font-family: "Montserrat", sans-serif;
            color: $mainLightColor;
            font-size: scaled(1, 1.5, 320, 1400);
            text-transform: capitalize;
        }

        p {
            font-family: "Roboto", sans-serif;
            color: rgb(183, 183, 183);
            font-size: scaled(1, 1.1, 320, 1400);
        }

        p:last-child {
            font-style: italic;
            color: rgb(145, 145, 145);
            font-size: scaled(0.7, 0.9, 320, 1400);
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.card:hover,
.card:focus {
    cursor: pointer;
    transform: scale(1.01);
    transition: 200ms ease-in-out;
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.2);
    background: linear-gradient(15deg, rgb(29, 29, 29) 0%, rgb(64, 64, 64) 65%);
}
