@use "../scss/abstracts/" as *;

.checkout_button {
    display: grid;
    place-items: center;
    border: none;
    background-image: $checkout_button_color;
    border-radius: $borderRadius;
    color: white;
    height: 3rem;
    transition: 0.5s;
    background-size: 150% auto;
    font-family: "Montserrat", sans-serif;
    p{
        transition: all .2s;
    }
}

.checkout_button:hover {
    background-position: 75% 70%;
    cursor: pointer;
}

.checkout_button:active {
    transform: scale(0.98);
    transition: 0.1s ease-in-out;
}

.checkout_button_prevent {
    position: relative;
    display: grid;
    place-items: center;
    border: none;
    background-image: linear-gradient(
        to right,
        rgb(183, 183, 183) 0%,
        rgb(141, 141, 141) 100%
    );
    border-radius: $borderRadius;
    color: #2d2d2d;
    height: 3rem;
    transition: 0.5s;
    background-size: 150% auto;
    font-family: "Montserrat", sans-serif;

    p {
        visibility: hidden;
        opacity: 0;
    }
}

.checkout_button_prevent::after{
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: .2rem solid transparent;
    border-top-color: #757575;
    border-radius: 50%;
    animation: loading_spinner 1s ease infinite;


}

.checkout_button_prevent:hover {
    cursor: not-allowed;
}

@keyframes loading_spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
