@use "./abstracts/" as *;

.gallery_grid_container {
    margin-top: scaled(2, 8, 320, 1400);
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(scaled(15, 20, 320, 1400), 1fr)
    );
    place-items: center;
    gap: scaled(1, 2, 320, 1400);
}

.gallery_image {
    max-width: 25rem;
    aspect-ratio: 1/1;
    transition: 300ms ease-in-out;
}

.gallery_image:hover,
.gallery_image:focus {
    transform: scale(1.01);
    transition: 300ms ease-in-out;
}
