@use "./abstracts/" as *;

.gallery_grid_container {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(scaled(15, 20, 320, 1400), 1fr)
    );
    place-items: center;
    gap: scaled(1, 2, 320, 1400);
    // margin: scaled(0.5, 0.75, 320, 1400) scaled(1, 1.5, 320, 1400);
}

.gallery_image {
    max-width: 25rem;
    aspect-ratio: 1/1;
}
