@use "../scss/abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Oswald:wght@700&family=Quattrocento+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

html {
    font-size: 100%;
} /*16px*/

body {
    position: relative;
    background: $bodyGradient;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

.outer_page_container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;

    .page_container {
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        // padding: 0 0.5rem;
        padding: 0 scaled(0.5, 1.7, 320, 1400);
        min-width: 320px;
    }
}

footer p {
    text-align: center;
}
