@use "../scss/abstracts/" as *;

.heroContainer {
    display: flex;
    flex-direction: column;
    max-width: 45rem;

    h2 {
        font-size: scaled(1.5, 3.5, 320, 1400);
    }

    p {
        font-size: scaled(1.1, 1.5, 320, 1400);
    }
}
