@use "../scss/abstracts/" as *;

.btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: $borderRadius;
    padding: scaled(0.5, 0.75, 320, 1400) scaled(1, 2.5, 320, 1400);
    background-image: linear-gradient(
        to right,
        rgba(50, 218, 255, 1) 0%,
        rgba(55, 51, 255, 1) 100%
    );
    color: white;
    transition: 0.5s;
    background-size: 150% auto;
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    background-position: 75% 70%;
    cursor: pointer;
}
