@use "../scss/abstracts/" as *;

.login_container {
    padding: scaled(1, 4, 320, 1400) scaled(1.5, 5, 320, 1400);

    .login_subject_text {
        color: $mainLightColor;
        margin-bottom: 1.2rem;
    }

    .title {
        color: $mainLightTitleText;
        font-size: scaled(1, 1.2, 320, 1400);
    }

    .forgot_text {
        font-family: "Montserrat", sans-serif;
        color: $mainLightColor;
        margin-bottom: scaled(1, 2, 320, 1400);
    }

    .disclosure_notice {
        font-family: "Montserrat", sans-serif;
        font-size: scaled(0.7, 0.9, 320, 1400);
        font-style: italic;
        color: $mainLightColor;
        margin-bottom: 1.2rem;
    }

    .error_msg {
        font-family: "Oswald", sans-serif;
        font-size: scaled(1, 1.1, 320, 1400);
        color: rgb(253, 58, 58);
        margin-bottom: 1.2rem;
    }

    .oauth_container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        width: 100%;
        background-color: #474747;
        border-radius: $formElementRadius;
        padding: scaled(0.5, 0.7, 320, 1400) 0;
        margin-bottom: 0.5rem;

        .icon {
            color: $mainLightColor;
            font-size: scaled(1, 1.5, 2, 320, 1400);
        }

        .oauth_text {
            margin-left: 0.5rem;
            color: $mainLightColor;
            font-family: "Montserrat", sans-serif;
            font-size: scaled(0.8, 1, 320, 1400);
        }
    }

    .oauth_container:hover,
    .oauth_container:focus {
        background-color: #5c5c5c;
        cursor: pointer;
    }

    .divider_container {
        margin: scaled(1, 2, 320, 1400) 0;
        position: relative;
        display: grid;
        place-items: center;

        .divider_text {
            margin: 0 auto;
            background-color: $mainDarkColor;
            padding: 0 scaled(0.5, 1, 320, 1400);
            color: $formDarkTint;
            z-index: 2;
        }
    }

    .divider_container::before {
        position: absolute;
        content: "";
        left: rem(5);
        right: rem(5);
        height: 1px;
        top: 55%;
        transform: translateY(-55%);
        background-color: $formDarkTint;
    }

    .signup_success_container {
        color: #dcdcdc;
        min-height: 15rem;
        .success_title {
            font-family: "Oswald", sans-serif;
            font-size: scaled(1, 1.5, 320, 1400);
            color: $mainLightColor;
            margin-bottom: 1.2rem;
        }
        & p:last-child {
            margin-top: 1rem;
        }
    }

    form {
        label {
            display: inline-block;
            color: $mainLightColor;
        }

        .recaptcha {
            width: 100%;
        }

        .input_container {
            position: relative;
            height: 2.2rem;
            margin-bottom: 1.2rem;

            input[type="password"],
            input[type="email"],
            input[type="text"] {
                padding-left: 2.5rem;
                color: $mainLightColor;
                width: 100%;
                height: 100%;
                border: 1px solid $formDarkTint;
                border-radius: $formElementRadius;
                outline: none;
                background-color: $mainDarkColor;
                overflow: hidden;
            }
            .input_icon {
                position: absolute;
                top: 50%;
                left: 0.5rem;
                transform: translateY(-50%);
                font-size: scaled(1, 1.5, 320, 1400);
                stroke-width: 1;
                color: $formDarkTint;
            }
        }

        .submit_button {
            background-color: $importantButtonColor;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: scaled(0.5, 0.7, 320, 1400) 0;
            border: none;
            outline: none;
            width: 100%;
            min-height: rem(50);
            color: $mainLightColor;
            border-radius: $formElementRadius;
            margin-bottom: 2rem;

            .btn_icon {
                stroke-width: 1;
                font-size: scaled(1, 1.2, 320, 1400);
                margin-right: 0.5rem;
            }
            & p {
                font-family: "Montserrat", sans-serif;
                font-size: scaled(1, 1.2, 320, 1400);
            }
        }

        .submit_button:hover,
        .submit_button:focus {
            background-color: $importantButtonColorHover;
            cursor: pointer;
        }
    }
    .sign_up_forgot_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $mainLightColor;

        .sign {
            background-color: none;
            background: none;
            border: none;
            outline: none;
            font-family: "Roboto", sans-serif;
            font-size: scaled(0.9, 1.1, 320, 1400);
            color: $mainLightColor;
            margin-bottom: 1.5rem;
        }

        .sign:hover,
        .sign:focus {
            color: #9f9f9f;
            cursor: pointer;
        }

        .forgot {
            background-color: none;
            background: none;
            border: none;
            outline: none;
            font-family: "Roboto", sans-serif;
            font-size: scaled(0.7, 0.9, 320, 1400);
            color: $mainLightColor;
            margin-bottom: 1.5rem;
        }

        .forgot:hover,
        .forgot:focus {
            color: #9f9f9f;
            cursor: pointer;
        }
    }
}
