@use "../scss/abstracts/" as *;

.youtubeIcon,
.projectIcon {
    position: absolute;
    top: scaled(10, 12, 320, 1400);
    left: 50%;
    transform: translate(-50%, 0);
    width: scaled(15, 60, 320, 1400);
}
