@use "../scss/abstracts/" as *;

.product_card {
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: $borderRadius;
    overflow: hidden;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.08);
}

.product_card:hover {
    cursor: pointer;
    transform: scale(1.005);
    // box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}

.image_container {
    width: 100%;
}

.text_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: scaled(0.5, 1, 320, 1400);
    .title {
        font-size: scaled(1.1, 1.5, 320, 1400);
        margin-top: scaled(0.25, 0.75, 320, 1400);
        margin-bottom: scaled(0.1, 0.5, 320, 1400);
    }

    .sold_out {
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
    }
}

.price {
    font-size: scaled(1, 1.2, 320, 1400);
}
