@use "../scss/abstracts/" as *;

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 7rem;
    border: 1px solid black;
    border-radius: $formElementRadius;
    overflow: hidden;
    max-height: 2rem;
    background-color: $mainLightColor;
}

.mod_btn {
    background: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    border: none;
    width: 3rem;
    aspect-ratio: 1/1;
}

.mod_btn_container {
    background: none;
    outline: none;
    border: none;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    .mod_btn_icon {
        font-size: 1rem;
    }
}
//test
.mod_btn:hover,
.mod_btn:focus,
.mod_btn_container:hover,
.mod_btn_container:focus {
    cursor: pointer;
    background-color: #c9c9c9;
}

.mod_btn:active,
.mod_btn_container:active {
    cursor: pointer;
    background-color: #dedede;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    border: none;
    outline: none;
    width: 3rem;
    height: 2rem;
    overflow: hidden;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
}
/*

 <div
        className={styles.mod_btn_container}
        onClick={onDelete(product.product_id)}
    >
        <BiTrash className={styles.mod_btn_icon} />
    </div>;

    export const refreshQtyFromLocal = (prodList) => {
    const local = JSON.parse(localStorage.getItem("cartItems"));
    if (!local) return;
    prodList.forEach((item1) => {
        const exists = local.find((item2) => item2.key === item1.product_id);
        if (!exists) return;
        item1.quantity = exists.value.quantity;
    });
};

export const getQtyFromLocal = (product_id) => {
    const local = JSON.parse(localStorage.getItem("cartItems"));
    if (!local) return 0;
    const exists = local.find((item) => item.key === product_id);
    if (!exists) return 0;
    return exists.value.quantity;
};

    */
