@use "../abstracts/" as *;

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: scaled(2, 5, 320, 1400);
    margin: 0 auto;

    .menu_button {
        display: grid;
        place-items: center;
        padding: 0;
        width: 2.25rem;
        height: 2.25rem;
        margin-right: scaled(0.5, 1.5, 320, 1400);
        border: none;
        outline: none;

        .menu_icon {
            width: 100%;
            height: 100%;
            color: $mainDarkColor;
        }
    }

    .menu_button:hover,
    .menu_button:focus {
        cursor: pointer;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: scaled(1, 2, 320, 1400);
        position: absolute;
        top: 7.5rem;
        left: 0;
        width: 100vw;
        background-color: #363636;
        z-index: 2;
        padding: 2rem 0;
        transition: 300ms ease-in-out;
        opacity: 1;
    }

    .links_inactive {
        left: -100%;
        opacity: 0;
    }

    .links a {
        position: relative;
        font-family: "Quattrocento Sans", sans-serif;
        color: $mainLightColor;
        font-size: scaled(1.2, 1.2, 320, 530);
        padding: 0.25rem 1rem;

        .cart_icon_container {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;

            .qty {
                position: absolute;
                top: -0.7rem;
                right: -0.6rem;
                font-family: "Roboto", sans-serif;
                font-size: 0.9rem;
                font-weight: 400;
            }
        }
    }

    .links a::before {
        @include sweetBorder;
    }

    .active::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: -0.125rem;
        right: -0.125rem;
        border-left: 1px solid $mainLightColor;
        border-bottom: 1px solid $mainLightColor;
        border-right: 1px solid $mainLightColor;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        transition: 1s;
    }

    .links a:hover::before {
        @include sweetBorderOnHover;
    }
}

@media screen and (min-width: 725px) {
    .navBar {
        margin-top: scaled(1, 1.5, 320, 1400);
        margin-bottom: scaled(2, 5, 320, 1400);
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 scaled(1, 2, 320, 1400);
        .links {
            top: 0;
            display: flex;
            flex-direction: row;
            background: none;
            position: relative;
            width: auto;
            z-index: 2;
        }

        .links_inactive {
            left: 0;
            opacity: 1;
        }

        .links a {
            color: $mainDarkColor;
        }

        .menu_button {
            display: none;
        }

        .active::after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: -0.125rem;
            right: -0.125rem;
            border-left: 1px solid #2d2d2d;
            border-bottom: 1px solid #2d2d2d;
            border-right: 1px solid #2d2d2d;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
            transition: 1s;
        }
        .links a {
            font-size: scaled(1.1, 1.2, 530, 1400);
        }
    }
}
