@use "../../abstracts/" as *;

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 300ms ease-in-out;
    padding: scaled(1, 1.5, 320, 1400);
    min-height: 25rem;
    z-index: 0;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0);
    border-radius: $formElementRadius;
    overflow: hidden;

    .image_container {
        display: inline-block;
        margin-bottom: 2rem;
    }

    .title_container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 12rem;

        .upper_wrapper {
            margin-bottom: 1rem;
            .title {
                font-family: "Montserrat", sans-serif;
                color: $mainLightColor;
                font-size: scaled(1, 1.5, 320, 1400);
                text-transform: capitalize;
            }

            p {
                font-family: "Roboto", sans-serif;
                color: rgb(183, 183, 183);
                font-size: scaled(1, 1.1, 320, 1400);
            }
        }

        .date {
            text-align: right;
            font-style: italic;
            color: rgb(145, 145, 145);
            font-size: scaled(0.7, 0.9, 320, 1400);
        }
    }
}

.card:hover,
.card:focus {
    cursor: pointer;

    box-shadow: 1px 4px 15px 3px rgba(0, 0, 0, 0.4);
    transition: 300ms ease-in-out;
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include darkGradientBackground();
}
